
.root {
    -fx-background-image: url("/Resources/Pictures/guide_background.png");
    -fx-background-size: cover;
}

#textBackground{
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, #212121, 10, 0, 0, 0);

}

.text-field {
    -fx-effect: dropshadow(two-pass-box, black, 10, 0.2, 0, 0);
    -fx-font-size: 18;
    -fx-text-fill: #212121;
    -fx-font-family: FutureExtended;
    -fx-prompt-text-fill: #666;
}

#nameLabel {
    -fx-font-size: 30;
    -fx-text-fill: #212121;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, #212121, 5, 0, 0, 0);
}

#locationLabel{
    -fx-background-color: white;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, #212121, 10, 0, 0, 0);
    -fx-pref-height: 25;
    -fx-pref-width: 400;
}

