
.root {
    /*    -fx-background-image: url("/Resources/Pictures/world-superb-resort-tree-pool-hotel-wide-screen-1920x1080.jpg");*/
    -fx-background-color: teal;
}

#firstColumn {
    -fx-background-image: url("/Resources/Pictures/n.jpg");
    -fx-fit-to-height: inherit;
    -fx-fit-to-width: inherit;
}

#firstRow {
    -fx-background-color: #FFF9C4;
    -fx-fit-to-height: inherit;
    -fx-fit-to-width: inherit;
}

#secondRow {
    -fx-background-color: white;
    -fx-fit-to-height: inherit;
    -fx-fit-to-width: inherit;
}

#vbox {
    -fx-padding: 30;
}

